<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/timbre.js"></script>
    <script src="/javascripts/detectmobile.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p id="singing"></p>

    <script src="/javascripts/client.js"></script>
  </body>
</html>
