<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/timbre.js"></script>
    <script src="/javascripts/zepto.min.js"></script>
    <!--    <script src="/javascripts/detectmobile.js"></script> -->
  </head>

  <body>
    <h1 id="singing">WAIT FOR IT...VOLUME UP!</h1>

    <script src="/javascripts/client.js"></script>
  </body>
</html>
